[submodule "vim/bundle/airline"]
	path = vim/bundle/airline
	url = https://github.com/bling/vim-airline.git
[submodule "vim/bundle/mustache-syntax"]
	path = vim/bundle/mustache-syntax
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "vim/bundle/go-syntax"]
	path = vim/bundle/go-syntax
	url = https://github.com/fatih/vim-go.git
[submodule "vim/bundle/c-syntax"]
	path = vim/bundle/c-syntax
	url = https://github.com/justinmk/vim-syntax-extra.git
[submodule "vim/bundle/tagbar"]
	path = vim/bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "vim/bundle/python-syntax"]
	path = vim/bundle/python-syntax
	url = git://github.com/majutsushi/tagbar
