"*":
  welcome:
    showOnStartup: false
  core:
    themes: [
      "atom-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
    audioBeep: false
    disabledPackages: [
      "language-python"
    ]
  editor:
    lineHeight: 1.25
    invisibles: {}
    fontFamily: "Hack"
    fontSize: 15
    showIndentGuide: true
    showInvisibles: true
  fonts:
    fontFamily: "Hack"

".python.regexp.source":
  editor:
    tabLength: 2

".python.source":
  editor:
    autoIndentOnPaste: true
